@model Actor

@{
    ViewData["Title"] = "Add an Actor";
    var canConnect = ViewData["canConnect"];
    var successful = ViewData["successful"];
}

<div class="container">
    @if (canConnect != null && (bool)canConnect == false)
    {
        <div class="alert alert-warning">Can't connect to database!</div>
    }
    else
    {
        @if (successful != null && (bool)successful == true)
        {
            <div class="alert alert-success">Actor added succesfuly!</div>
        }
        
        <form asp-controller="Create" asp-action="Actor" method="post">
            <div class="form-group">
                <label asp-for="ActorName">Actor's name:</label>
                <input type="text" asp-for="ActorName" class="form-control" placeholder="Enter actor's name">
                <span class="text text-warning" asp-validation-for="ActorName"></span>
            </div>
            <input type="submit" value="Add" class="btn btn-primary mt-2">
        </form>
    }
</div>